<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishUrl>$(MSBuildProjectDirectory)\bin\cephalon-publish</PublishUrl>
    <PublishDir>$(MSBuildProjectDirectory)/artifacts/publish/</PublishDir>
    <UseAppHost>false</UseAppHost>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
</Project>
